h1 {
  color: orange;
  font-style: italic;
  font-size: 60px;
}

p {
  color: orange;
  font-style: oblique;
  font-size: 53px;
}

body {
  background-image: url(https://garycoopercouk.files.wordpress.com/2016/12/waterfall-forest-background.jpg);
}
